/**自定义样式*/
.table-vertical-align {
	vertical-align: middle !important;
}

.top_header {
	position: fixed;
	top: 0;
	z-index: 100;
	background: #333;
	height: 5rem;
	color: #FFF;
	line-height: 5rem;
	width: 100%;
}

.bottom_foot {
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
	background: #333;
	height: 5rem;
	color: #FFF;
	line-height: 5rem;
}

a.color_while {
	color: #FFF;
}

a.color_while:hover {
	color: #ffd800;
}