<include file="Public:header" title="银行卡信息" />

</head>

<body>
<div class="opera_frame">
    <div class="opear_layer">
        <form action="/bankinfo/addbankinfo?tspam={$tspan}" method="post">
            <table>
                <tr>
                    <td width="16%">银行名称</td>
                    <td>
                        <input class="inputsty" name="" id="" />
                    </td>
                </tr>
                <tr>
                    <td width="20%"></td>
                    <td>
                        <input type="button" class="buttons" id="btnSubmit" name="btnSubmit" value="提 交" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>