<include file="Public:header" title="银行卡信息" />

</head>

<body>
<div class="opera_frame">
    <div class="opear_layer">
    
    	<table>
            <tr>
                <td width="16%">银行卡号</td>
                <td>
                    <input class="inputsty" name="" id="" />
                </td>
            </tr>
            <tr>
                <td width="16%">操作类型</td>
                <td>
                    <select>
                        <option value="支出">支出</option>
                        <option value="收入">收入</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="16%">金额</td>
                <td>
                    <input class="inputsty" name="" id="" />
                </td>
            </tr>
            <tr>
                <td width="16%">备注</td>
                <td>
                    <input class="inputsty" name="" id="" />
                </td>
            </tr>
            <tr>
                <td width="16%">自定义时间</td>
                <td>
                    <input class="inputsty" name="" id="" />
                </td>
            </tr>
            <tr>
                <td width="20%"></td>
                <td>
                    <input type="button" class="buttons" id="btnSubmit" name="btnSubmit" value="提 交" />
                </td>
            </tr>
        </table>
    
    </div>
</div>
</body>
</html>