<!--     页面底部 -->
<div class="foots">
    <div style="margin-top:10px;">邢智个人数据系统</div>
    <div style="margin-top:10px;">&copy;[syear] - [eyear] </div>
    <div style="margin-top:10px;">
        <a style="color:#428bca" target="_blank" href="http://127.0.0.1:9004/">火车票</a>
        <a style="color:#428bca" target="_blank" href="http://127.0.0.1:9006/weibo">微博会员</a>
        <a style="color:#428bca" target="_blank" href="javascript:;">淘女郎</a>
        <a style="color:#428bca" target="_blank" href="http://127.0.0.1:9007/">腾讯会员</a>
        <a style="color:#428bca" target="_blank" href="http://127.0.0.1:9003/music">音乐</a>
        <a style="color:#428bca" target="_blank" href="http://127.0.0.1:9009/">街拍</a>
        <a style="color:#428bca" target="_blank" href="http://127.0.0.1:9010/">书籍</a>
    </div>
</div>
